{% extends 'base/layout.html' %}

{% block title %}
    Plugin Development Tutorial
{% endblock %}

{% block content %}
    <br>
    <h2>Netbox Official Community 🇧🇷</h2>
    <hr>
    <h2>Brazilian Community 🇧🇷</h2>
    <div class="container">
        <iframe
            src="https://discord.com/widget?id=954751128279588924&theme=dark"
            width="350"
            height="500"
            allowtransparency="true"
            frameborder="0"
            sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts">
        </iframe>
    </div>
{% endblock %}