{# Netbox Plugins Store - Custom Links #}
<li class="nav-item dropdown dropup">
    <a type="button" class="nav-link dropdown-toggle text-primary" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        <i title="Proxbox Plugin" class="mdi mdi-puzzle" data-bs-placement="top" data-bs-toggle="tooltip"></i>
    </a>
    <ul class="dropdown-menu disabled" aria-labelledby="navbarDropdown">
        <li>
            {# Netbox Plugins Store - Documentation #}
            <a type="button" class="dropdown-item" href="https://github.com/emersonfelipesp/netbox-plugins-store/blob/develop/README.md" target="_blank">
                <i title="Netbox Plugins Store | Docs" class="mdi mdi-book-open-variant text-primary" data-bs-placement="top" data-bs-toggle="tooltip"></i>  Docs
            </a>
        <li>
            {# Netbox Plugins Store - GitHub #}
            <a type="button" class="dropdown-item" href="https://github.com/emersonfelipesp/netbox-plugins-store" target="_blank">
                <i title="Netbox Plugins Store | Source Code" class="mdi mdi-github text-primary" data-bs-placement="top" data-bs-toggle="tooltip"></i> GitHub
            </a>
        </li>
        <li>
            {# Netbox Plugins Store - Telegram (Brazil) #}
            <a type="button" class="dropdown-item" href="https://t.me/netboxbr" target="_blank">
                <i title="Netbox Plugins Store | Telegram (Brazil)" class="mdi mdi-telegram text-primary" data-bs-placement="top" data-bs-toggle="tooltip"></i> Telegram (BR)
            </a>
        </li>
        <li>
            <hr class="dropdown-divider">
        </li>
        <li>
            <span class="dropdown-item disabled">Proxbox (v0.0.3)</span>
        </li>
    </ul>
</li>
