<br>
<style>
    
    .center {
        text-align: center;
    }
    a {
        text-decoration: none;
    }

</style>

<h1 class="center">NetBox Plugin Development Tutorial by <a target="_blank" href="https://github.com/jeremystretch" alt="Jeremy Stretch">Jeremy Stretch</a></h1> 

<p>This guide seeks to demonstrate the process of developing a custom plugin for NetBox v3.2 or later. By following each of the prescribed steps, the reader will create from scratch a simple plugin for managing access lists in NetBox, utilizing all major components of the NetBox plugin framework.</p>
<p>A completed copy of the demo plugin created in this tutorial is available in the 
    <a target="_blank" href="https://github.com/netbox-community/netbox-plugin-demo">
        <code>netbox-plugin-demo</code>
    </a> repository for reference. For your convenience, the completed code corresponding to each step in the tutorial exists as a named branch in the demo repo. For example, if you want to start fresh on step 5, simply check out the 
    <code>step04-forms</code> branch.
</p>

<h3>Prerequisites</h3>
<p>Before attempting to create a plugin, please assess your personal ability. Plugin authors should have reasonable proficiency in the following:</p>
<ul>
    <li>Python programming</li>
    <li>The <a target="_blank" href="https://www.djangoproject.com/">Django</a> framework</li>
    <li>REST API fundamentals (where applicable)</li>
    <li>Installing, configuring, and using NetBox</li>
</ul>

<h3>Contents</h3>
<ul>
    <li><a target="_blank" href="https://github.com/netbox-community/netbox-plugin-tutorial/blob/main/tutorial/step01-initial-setup.md">Step 1: Initial Setup</a></li>
    <li><a target="_blank" href="https://github.com/netbox-community/netbox-plugin-tutorial/blob/main/tutorial/step02-models.md">Step 2: Models</a></li>
    <li><a target="_blank" href="https://github.com/netbox-community/netbox-plugin-tutorial/blob/main/tutorial/step03-tables.md">Step 3: Tables</a></li>
    <li><a target="_blank" href="https://github.com/netbox-community/netbox-plugin-tutorial/blob/main/tutorial/step04-forms.md">Step 4: Forms</a></li>
    <li><a target="_blank" href="https://github.com/netbox-community/netbox-plugin-tutorial/blob/main/tutorial/step05-views.md">Step 5: Views</a></li>
    <li><a target="_blank" href="https://github.com/netbox-community/netbox-plugin-tutorial/blob/main/tutorial/step06-templates.md">Step 6: Templates</a></li>
    <li><a target="_blank" href="https://github.com/netbox-community/netbox-plugin-tutorial/blob/main/tutorial/step07-navigation.md">Step 7: Navigation</a></li>
    <li><a target="_blank" href="https://github.com/netbox-community/netbox-plugin-tutorial/blob/main/tutorial/step08-filter-sets.md">Step 8: Filter Sets</a></li>
    <li><a target="_blank" href="https://github.com/netbox-community/netbox-plugin-tutorial/blob/main/tutorial/step09-rest-api.md">Step 9: REST API</a></li>
    <li><a target="_blank" href="https://github.com/netbox-community/netbox-plugin-tutorial/blob/main/tutorial/step10-graphql-api.md">Step 10: GraphQL API</a></li>
</ul>

<h3>Reference</h3>
<ul>
    <li><a target="_blank" href="https://netbox.readthedocs.io/en/feature/plugins/development/">NetBox Plugin Development Documentation</a></li>
</ul>

<h3>Getting Help</h3>
<p>If you run into any snags working through the tutorial, please join us in the <strong>#netbox</strong> channel on the <a target="_blank" href="https://netdev.chat/">NetDev Community Slack</a> for help.</p>

<h3>Feedback and Issues</h3>
<p>If you happen to uncover an error or discrepancy in the tutorial, please be sure to 
    <a target="_blank" href="https://github.com/netbox-community/netbox-plugin-tutorial/issues/new/choose">open an issue</a>
     so that it can be documented and fixed.
</p>